@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


/* Definição das variáveis de cores e fontes */
:root {
    --brand-1: #4C6EF5;
    --brand-2: #3867F7;
    --gray-1: #191C1F;
    --gray-2: #212529;
    --gray-3: #343A40;
    --gray-4: #ADB5BD;
    --gray-5: #CED4DA;
    --gray-6: #EDF2FF;
    --gray-7: #F8F9FA;
    --text-color: var(--gray-1); /* Preto para texto padrão */
    --background-color: #FFFFFF; /* Branco para fundo padrão */   
    /* Variavel Fonte Titulos */
    --title1-fontsize:42px;
    --title1-fontweight:600;
    --title1-lineheight:140%;
    --title2-fontsize:28px;
    --title2-fontweight:600;
    --title2-lineheight:160%;
    --title3-fontsize:26px;
    --title3-fontweight:600;
    --title3-lineheight:140%; 
    --text1-fontsize:12px; 
    --text1-fontweight:400;
    --text1-lineheight:150%;
    --text2-fontsize:18px; 
    --text2-fontweight:400;
    --text2-lineheight:150%;
    --text3-fontsize:16px; 
    --text3-fontweight:400;
    --text3-lineheight:150%; 
    --text4-fontsize:16px; 
    --text4-fontweight:600;
    --text4-lineheight:150%;  
}

/* Definição da fonte global */
body {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
}

/* Reset para margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



  